extends layout

block content
  h1 Sw&yuml;p

  p 
    | your stuff to nearby devices using a gesture.
   
  .actions
    a#out(href="http://o.swyp.us") Swyp Out -
      i 
        | o.swyp.us
    a#in(href="http://i.swyp.us") Swyp In - 
      i 
        | i.swyp.us
