extends layout

block content
  h1 Sw&yuml;p

  p 
    | With Sw&yuml;p you can transfer any file from any app 
    | to any app on any device: simply with a swipe of a finger. 
  p 
    | Words don't do it justice. Here's a demo video:
   
  iframe#demo(src="http://player.vimeo.com/video/34976677?title=0&amp;byline=0&amp;portrait=0", width="640", height="360", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
  
  .left
    a#guide(href="/guide") Developers' Guide 
    a#docs(href="/docs/html") Read the Dev Docs

  .right
    a#twitter(href="http://www.twitter.com/swyplove") Follow us on Twitter
    a#group(href="http://groups.google.com/group/swypdev") Join the Sw&yuml;p Dev Group

