extends layout

block content
  h1 Join the Sw&yuml;p Team
  
  p
    | People like to share content. Sw&yuml;p is a framework for gestural content transfer, regardless of the platform on which implemented.

  h2 The Problem
  p
    | Manufacturers have been creating silos of cooperability, in which devices can transfer content using novel methods like Photo Stream or Android Beam, but where outside devices collaborate using archaic methods like email.

    | The siloing that is happening across vendor boundaries will block innovation and competition in the long term. As an example, userless or displayless devices would be barred from joining the collaboration ecosystem, as would those devices yet unimagined. 
  
  h2 The Solution
  p 
    | Swÿ&yuml;p allows content transfer across any apps running on any device, mediating content-type translation to provide seamless communication with a device-appropriate gesture.

  h2 What we're doing
  p
    | We’re promoting Swÿ&yuml;p as the standard for inter-device content transfer, designing new augemented technology techniques for transfering content, building display-free devices from physical-to-digital Swÿ&yuml;ps, putting interactive digital displays around campus, and implementing a permanent Sw&yuml;p installation at the Media Lab.


