!!!5
html(lang="en-us", charset="utf-8")
  head
    title Sw&yuml;p: Getting Started Guide
    link(rel="stylesheet", href="/style.css", type="text/css")

  body

    block content

    footer
      p Sw&yuml;p&rsquo;s goal is to amaze users and make developers&rsquo; lives easier.
      
      p     Sw&yuml;p is a  
            a(href="http://fluid.media.mit.edu/people/natan/current/swyp.html") Media Lab Project
            .
