extends layout

block content
  h1 Join Team Sw&yuml;p
  
  p
    | People like to share content. Sw&yuml;p is a framework for gestural content transfer, regardless of the platform on which implemented.

  h3 The Problem
  p
    | Manufacturers have been creating silos of cooperability, in which devices can transfer content using novel methods like 
    a(href="http://www.youtube.com/watch?v=Lye_cvYj8EU&feature=player_embedded") Photo Stream
    |  or 
    a(href="http://www.youtube.com/watch?v=8lQwj5XDzN8&feature=player_embedded") Android Beam
    | , but where outside devices collaborate using archaic methods like email.

    | The siloing that is happening across vendor boundaries will block innovation and competition in the long term. 
  
  h3 The Solution
  p 
    | Sw&yuml;p allows content transfer across any apps running on any device, mediating content-type translation to provide seamless communication with a device-appropriate gesture. Here's 
    a(href="http://www.fastcodesign.com/1669697/it-exists-mit-creates-tech-for-moving-files-across-devices-with-a-swipe") one example
    | .

  h3 What we're doing
  p
    | We&apos;re promoting Sw&yuml;p as the standard for inter-device content transfer, designing new augemented reality techniques for transfering content, building display-free devices for physical-to-digital Sw&yuml;ps, putting interactive digital displays around campus, and implementing a permanent Sw&yuml;p installation at the Media Lab.

  h3 Who we are
  p
    | Graduate student/entreprenuer 
    a(href="http://fluid.media.mit.edu/people/natan/about/natan.html") Natan Linder
    |  and undergrad 
    a(href="http://listprojects.com") Alex List
 
    | , at the 
    a(href="http://fluid.media.mit.edu/people/natan/current/swyp.html") MIT Media Lab
    | .

  h3 Who we&apos;re needing
  p
    ol
      li 
        a(href="http://www.quora.com/What-makes-a-great-developer-evangelist") Great developer evangelists
        |  interested in helping get Sw&yuml;p integrated in apps worldwide.
      li People interested in massive federated web-frameworks, and capable of advancing the development of our heroku /nodejs/socket.io based web-app, 
        a(href="http://swyp.us") swyp.us
        | , exposing APIs, and allowing for the addition of large numbers of simultaneous users. 
      li People interested in improving the user-facing aspects of Sw&yuml;p, and capable of website interface development to promote more intuitive and reliable content transfer, and better 
        a(href="http://swyp.us/out/") third-party website
        |  integration. 

      li People interested in making the physical world more digital, and capable of building discrete touch-endabled devices for swyp-outs from displayless surfaces. EG, for taking digital copies of physical posters or plaques. 
      li 
        | People interested in 3D interfaces and augmented reality, and capable of writing vision software for developing Sw&yuml;p as a sort of 'right-click for the air.'
  
  p
    | See our 
    a(href="https://github.com/swyp/swypServerPublic") github
    | . Visit our 
    a(href="http://swyp.us") demo site
    | .


block footerPrompt
  p
    a(href="mailto:alist@mit.edu") Email Alexander List
    |  with your interest and background.

